.img1 {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.img2 {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}
.img3 {
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}